<div>
    <form>
        <label for="user-name">Username: </label>
        <input type="text" id='user-name' />
        <label for="user-email">Email: </label>
        <input type="email" id='user-email' />
        <label for="user-password">Password: </label>
        <input type="password" id='user-password' />
        <input type="submit" id="postFormSubmit" name="formSubmit" value="Submit">
    </form>
    <p>Not a User?</p>
    <a href="/signup">Click Here to SignUp</a>
</div>

<script src="/js/login.js"></script>