<div>
    <form>
        <label for="post-title">Title</label>
        <input type="text" name="post-title" id="post-title" />
        <br>
        <textarea name="blogpost" id="post-content" cols="50" rows="10"></textarea>
        <br>
        <input type="submit" id="postFormSubmit" name="formSubmit" value="Submit">
        <br>
    </form>
</div>

<script src="/js/post.js"></script>